In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
df=pd.read_csv('//content//creditcard.csv.crdownload')

In [ ]:
df

['Time',
 'V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V23',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'Amount',
 'Class']

In [ ]:
df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11660,19915,1.294875,-0.645847,0.689549,-0.351634,-1.026884,-0.129811,-0.928101,0.114172,0.804717,...,-0.097462,-0.020893,0.040297,0.159282,0.350705,-0.278351,-0.010354,-0.008003,10.00,0.0
11661,19915,1.404683,-0.554883,0.612239,-0.234956,-1.190992,-0.816824,-0.775771,-0.142637,1.121638,...,-0.196110,-0.303562,0.005661,0.313352,0.473813,-0.276618,-0.024026,0.002106,5.00,0.0
11662,19915,-0.945541,0.479754,1.521916,-1.298658,-0.852548,-0.604029,-0.354686,0.498106,0.407159,...,-0.050745,0.056031,-0.055584,0.312195,0.026299,-0.413466,0.189152,0.086360,10.00,0.0
11663,19915,-0.087909,0.184093,1.683910,-0.837378,-0.682605,-0.669907,-0.056222,-0.120669,0.409636,...,-0.109428,-0.054760,-0.139329,0.333267,0.072695,-0.320292,0.006423,0.010148,10.00,0.0
11664,19915,1.504229,-0.499337,0.052377,-0.576345,-0.393971,0.015149,-0.718603,-0.125852,1.023281,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
str(df)

'        Time        V1        V2        V3        V4        V5        V6  \\\n0          0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388   \n1          0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361   \n2          1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499   \n3          1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203   \n4          2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921   \n...      ...       ...       ...       ...       ...       ...       ...   \n11660  19915  1.294875 -0.645847  0.689549 -0.351634 -1.026884 -0.129811   \n11661  19915  1.404683 -0.554883  0.612239 -0.234956 -1.190992 -0.816824   \n11662  19915 -0.945541  0.479754  1.521916 -1.298658 -0.852548 -0.604029   \n11663  19915 -0.087909  0.184093  1.683910 -0.837378 -0.682605 -0.669907   \n11664  19915  1.504229 -0.499337  0.052377 -0.576345 -0.393971  0.015149   \n\n             V7        V8        V9  ...       V21       V22       V23  \\\n0      0.239599  0.098698  0.363787  ... -0.018307  0.277838 -0.110474   \n1     -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288   \n2      0.791461  0.247676 -1.514654  ...  0.247998  0.771679  0.909412   \n3      0.237609  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321   \n4      0.592941 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458   \n...         ...       ...       ...  ...       ...       ...       ...   \n11660 -0.928101  0.114172  0.804717  ... -0.097462 -0.020893  0.040297   \n11661 -0.775771 -0.142637  1.121638  ... -0.196110 -0.303562  0.005661   \n11662 -0.354686  0.498106  0.407159  ... -0.050745  0.056031 -0.055584   \n11663 -0.056222 -0.120669  0.409636  ... -0.109428 -0.054760 -0.139329   \n11664 -0.718603 -0.125852  1.023281  ...       NaN       NaN       NaN   \n\n            V24       V25       V26       V27       V28  Amount  Class  \n0      0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62    0.0  \n1     -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69    0.0  \n2     -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66    0.0  \n3     -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50    0.0  \n4      0.141267 -0.206010  0.502292  0.219422  0.215153   69.99    0.0  \n...         ...       ...       ...       ...       ...     ...    ...  \n11660  0.159282  0.350705 -0.278351 -0.010354 -0.008003   10.00    0.0  \n11661  0.313352  0.473813 -0.276618 -0.024026  0.002106    5.00    0.0  \n11662  0.312195  0.026299 -0.413466  0.189152  0.086360   10.00    0.0  \n11663  0.333267  0.072695 -0.320292  0.006423  0.010148   10.00    0.0  \n11664       NaN       NaN       NaN       NaN       NaN     NaN    NaN  \n\n[11665 rows x 31 columns]'

In [ ]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
for col_name in col_list:
  if df[col_name].dtype == 'object':
     df[col_name]=df[col_name].fillna(df[col_name].mode()[0])
  else:
      df[col_name]=df[col_name].fillna(df[col_name].mean())

In [ ]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11665 entries, 0 to 11664
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    11665 non-null  int64
 1   V1      11665 non-null  float64
 2   V2      11665 non-null  float64
 3   V3      11665 non-null  float64
 4   V4      11665 non-null  float64
 5   V5      11665 non-null  float64
 6   V6      11665 non-null  float64
 7   V7      11665 non-null  float64
 8   V8      11665 non-null  float64
 9   V9      11665 non-null  float64
 10  V10     11665 non-null  float64
 11  V11     11665 non-null  float64
 12  V12     11665 non-null  float64
 13  V13     11665 non-null  float64
 14  V14     11665 non-null  float64
 15  V15     11665 non-null  float64
 16  V16     11665 non-null  float64
 17  V17     11665 non-null  float64
 18  V18     11665 non-null  float64
 19  V19     11665 non-null  float64
 20  V20     11665 non-null  float64
 21  V21     11665 non-null  float64
 22  V22     11665 non-null  float64
 23  V23     11665 non-null  float64
 24  V24     11665 non-null  float64
 25  V25     11665 non-null  float64
 26  V26     11665 non-null  float64
 27  V27     11665 non-null  float64
 28  V28     11665 non-null  float64
 29  Amount  11665 non-null  float64
 30  Class   11665 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 2.8 MB

In [ ]:
df.shape

(11665, 31)

In [ ]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,...,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000,11665.000000
mean,7701.086069,-0.219601,0.274988,0.897990,0.281016,-0.078995,0.140055,-0.111620,-0.051877,0.893589,...,-0.061180,-0.155205,-0.034310,0.017421,0.101538,0.070630,0.007481,0.000804,62.795132,0.004201
std,5964.969525,1.561122,1.305785,1.272504,1.467970,1.184333,1.305472,1.129256,1.236992,1.182130,...,0.902518,0.624249,0.508466,0.592112,0.429706,0.560283,0.406824,0.262330,179.809074,0.064679
min,0.000000,-27.670569,-34.607649,-21.405836,-4.657545,-32.092129,-23.496714,-26.548144,-23.632502,-7.175097,...,-11.468435,-8.555808,-19.254328,-2.512377,-4.781606,-1.338556,-7.976100,-3.575312,0.000000,0.000000
25%,2463.000000,-0.987193,-0.257287,0.416175,-0.615559,-0.680719,-0.622413,-0.583742,-0.186419,0.181510,...,-0.268932,-0.545390,-0.172764,-0.332771,-0.146721,-0.346882,-0.080622,-0.015512,5.000000,0.000000
50%,6308.000000,-0.347783,0.262619,0.950034,0.215393,-0.179654,-0.147786,-0.088491,0.011665,0.880826,...,-0.130071,-0.129217,-0.044471,0.073086,0.139605,0.009079,-0.003814,0.015396,15.950000,0.000000
75%,11898.000000,1.159319,0.888750,1.616224,1.153380,0.348187,0.508886,0.439387,0.267067,1.570361,...,0.023231,0.235438,0.076756,0.402511,0.374836,0.417627,0.108430,0.073957,50.000000,0.000000
max,19915.000000,1.960497,9.067613,4.101716,11.927512,34.099309,21.393069,34.303177,5.499963,10.392889,...,22.599543,4.534454,13.876221,3.200201,5.525093,3.517346,8.254376,4.860769,7712.430000,1.000000

In [ ]:
df.duplicated().sum()

44

In [ ]:
df.drop_duplicates(keep='first').shape

(11621, 31)

In [ ]:
df.drop_duplicates(keep=False).shape

(11588, 31)

distibution of fraud and legal card

In [ ]:
df['Class'].value_counts()

0.000000    11615
1.000000       49
0.004201        1
Name: Class, dtype: int64

this cards are highly unbalanced

In [ ]:
# seperating cards

In [ ]:
legal=df[df.Class==0]
fraud=df[df.Class==1]

In [ ]:
print(legal.shape)
print(fraud.shape)

(11615, 31)
(49, 31)

In [ ]:
legal.Amount.describe()

count    11615.000000
mean        62.622792
std        178.921706
min          0.000000
25%          5.180000
50%         15.950000
75%         50.000000
max       7712.430000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count      49.000000
mean      103.646735
std       330.135333
min         0.000000
25%         1.000000
50%         1.000000
75%         3.790000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.000000,7685.960224,-0.207746,0.259302,0.932803,0.256709,-0.071066,0.148968,-0.090524,-0.056213,0.907933,...,0.022952,-0.063413,-0.155487,-0.032649,0.019045,0.102544,0.069722,0.004965,0.000177,62.622792
0.004201,19915.000000,1.504229,-0.499337,0.052377,-0.576345,-0.393971,0.015149,-0.718603,-0.125852,1.023281,...,0.024433,-0.061180,-0.155205,-0.034310,0.017421,0.101538,0.070630,0.007481,0.000804,62.795132
1.000000,11037.265306,-3.064862,4.008973,-7.336847,6.060331,-1.951918,-1.970106,-5.100011,0.977442,-2.509118,...,0.375559,0.468232,-0.088481,-0.427921,-0.367523,-0.136910,0.285971,0.603784,0.149533,103.646735

under sampling

In [ ]:
legal_sample=legal.sample(n=49)

In [ ]:
new_dataset=pd.concat([legal,fraud],axis=0)

In [ ]:
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10690,18088,-12.224021,3.854150,-12.466766,9.648311,-2.726961,-4.445610,-21.922811,0.320792,-4.433162,...,-1.159830,-1.504119,-19.254328,0.544867,-4.781606,-0.007772,3.052358,-0.775036,1218.89,1.0
10801,18399,-14.474437,6.503185,-17.712632,11.270352,-4.150142,-3.372098,-16.535807,-1.443947,-6.815273,...,-2.475962,0.342391,-3.564508,-0.818140,0.153408,0.755079,2.706566,-0.992916,1.00,1.0
10891,18675,-12.339603,4.488267,-16.587073,10.107274,-10.420199,0.130670,-15.600323,-1.157696,-5.304631,...,-2.089610,1.745315,1.376816,-0.554271,-1.610741,0.153725,1.212477,-1.869290,188.78,1.0
10897,18690,-15.398845,7.472324,-19.026912,11.165526,-6.893856,-2.120937,-14.913330,-0.721214,-7.175097,...,-2.444884,0.727495,-0.345078,-0.981749,0.995271,0.816762,2.262942,-1.178063,1.00,1.0
11343,19762,-14.179165,7.421370,-21.405836,11.927512,-7.974281,-2.202710,-15.471612,-0.356595,-6.380125,...,-2.366836,1.130955,0.991153,-1.033132,-0.327179,0.634693,2.171905,-1.395288,1.00,1.0

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
10690,18088,-12.224021,3.854150,-12.466766,9.648311,-2.726961,-4.445610,-21.922811,0.320792,-4.433162,...,-1.159830,-1.504119,-19.254328,0.544867,-4.781606,-0.007772,3.052358,-0.775036,1218.89,1.0
10801,18399,-14.474437,6.503185,-17.712632,11.270352,-4.150142,-3.372098,-16.535807,-1.443947,-6.815273,...,-2.475962,0.342391,-3.564508,-0.818140,0.153408,0.755079,2.706566,-0.992916,1.00,1.0
10891,18675,-12.339603,4.488267,-16.587073,10.107274,-10.420199,0.130670,-15.600323,-1.157696,-5.304631,...,-2.089610,1.745315,1.376816,-0.554271,-1.610741,0.153725,1.212477,-1.869290,188.78,1.0
10897,18690,-15.398845,7.472324,-19.026912,11.165526,-6.893856,-2.120937,-14.913330,-0.721214,-7.175097,...,-2.444884,0.727495,-0.345078,-0.981749,0.995271,0.816762,2.262942,-1.178063,1.00,1.0
11343,19762,-14.179165,7.421370,-21.405836,11.927512,-7.974281,-2.202710,-15.471612,-0.356595,-6.380125,...,-2.366836,1.130955,0.991153,-1.033132,-0.327179,0.634693,2.171905,-1.395288,1.00,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    11615
1.0       49
Name: Class, dtype: int64

Modeling

In [ ]:
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']

In [ ]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10690,18088,-12.224021,3.854150,-12.466766,9.648311,-2.726961,-4.445610,-21.922811,0.320792,-4.433162,...,-2.147181,-1.159830,-1.504119,-19.254328,0.544867,-4.781606,-0.007772,3.052358,-0.775036,1218.89
10801,18399,-14.474437,6.503185,-17.712632,11.270352,-4.150142,-3.372098,-16.535807,-1.443947,-6.815273,...,1.101250,-2.475962,0.342391,-3.564508,-0.818140,0.153408,0.755079,2.706566,-0.992916,1.00
10891,18675,-12.339603,4.488267,-16.587073,10.107274,-10.420199,0.130670,-15.600323,-1.157696,-5.304631,...,-0.085501,-2.089610,1.745315,1.376816,-0.554271,-1.610741,0.153725,1.212477,-1.869290,188.78
10897,18690,-15.398845,7.472324,-19.026912,11.165526,-6.893856,-2.120937,-14.913330,-0.721214,-7.175097,...,1.111502,-2.444884,0.727495,-0.345078,-0.981749,0.995271,0.816762,2.262942,-1.178063,1.00
11343,19762,-14.179165,7.421370,-21.405836,11.927512,-7.974281,-2.202710,-15.471612,-0.356595,-6.380125,...,1.002764,-2.366836,1.130955,0.991153,-1.033132,-0.327179,0.634693,2.171905,-1.395288,1.00

In [ ]:
y

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
10690    1.0
10801    1.0
10891    1.0
10897    1.0
11343    1.0
Name: Class, Length: 11664, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20, random_state=42)

In [ ]:
x_train

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
1299,1018,1.293271,-0.686658,0.763193,-0.750240,-1.216752,-0.267433,-0.862741,0.037486,-0.876722,...,-0.360153,-0.423452,-0.830487,0.123544,0.026530,-0.072321,0.855177,-0.036263,0.013303,32.97
5068,4701,-1.332337,1.573090,0.256405,-0.273210,-0.327796,-0.542289,-0.096049,0.971517,0.961667,...,-0.314397,0.013001,0.251469,0.063545,0.163505,-0.478018,0.268532,0.186280,0.147555,0.01
4256,3755,1.447277,-0.385626,0.348407,-0.650806,-0.656902,-0.516662,-0.651857,-0.216746,0.585871,...,0.066437,-0.295918,-0.754765,0.035403,-0.533591,0.310248,-0.468899,-0.020705,0.009482,20.00
7078,9275,-2.232408,-0.106192,1.301714,-1.073810,0.043459,-0.308730,0.783683,-0.133976,1.912059,...,0.198414,-0.409557,-0.270083,0.067452,-0.013944,-0.281134,0.688016,0.325317,0.595044,179.92
4196,3750,-1.142057,-1.245521,1.761191,-0.755150,0.865709,1.261541,-0.402450,0.345620,-0.342215,...,0.692625,0.145086,0.320004,0.611119,-1.101679,-0.773755,-0.407959,-0.063404,-0.085038,151.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11332,19733,0.917999,-0.306848,1.402489,1.909672,-0.780892,0.854744,-0.686597,0.352194,2.336829,...,-0.169641,-0.473378,-0.827332,0.066078,0.146180,0.306704,-0.581929,0.047182,0.022606,66.00
5194,4958,1.138737,0.314065,0.501601,1.293445,-0.123574,-0.410397,0.023003,-0.128692,1.343849,...,-0.183169,-0.284993,-0.611244,0.066572,-0.019828,0.353404,-0.563076,0.000764,0.020593,33.11
5393,5348,-2.758936,2.636812,-0.827476,0.247837,-1.484869,-1.157442,-1.056823,1.936531,0.160401,...,-0.488702,0.156838,-0.001251,0.187772,0.472444,-0.242905,0.182415,-0.617053,-0.097493,4.59
862,654,-1.503011,-1.386189,2.339168,1.714979,1.666073,0.241151,-1.017505,0.439214,0.635640,...,0.491067,-0.161417,-0.349421,0.281749,-0.300051,-0.446739,-0.541485,0.020377,-0.029497,15.79
7295,9764,-2.054677,0.857044,1.616495,-1.129761,0.010039,-0.469386,0.384284,-0.175665,1.504267,...,-0.161154,-0.305552,-0.536627,-0.354376,-0.011707,0.144188,0.771797,-0.388406,0.370277,60.96

In [ ]:
y_train

1299     0.0
5068     0.0
4256     0.0
7078     0.0
4196     0.0
        ...
11332    0.0
5194     0.0
5393     0.0
862      0.0
7295     0.0
Name: Class, Length: 9331, dtype: float64

Modelling

@ logistic regresssion

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model1=LogisticRegression()

In [ ]:
model1.fit(x_train,y_train)

LogisticRegression()

In [ ]:
model1_pred=model1.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
accuracy_score(x_train,y_train)

0.9978568366909558

In [ ]:
confusion_matrix(model1_pred,y_test)

array([[2320,    3],
       [   2,    8]])